.white {
  color: white !important;
}


.landing-container {
  text-align: center;
  padding: 15rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-holder {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.container {
  margin: 5% 15%;
}

.project-container {
  margin: 1% 0;
  display: flex;
  justify-content: center;
}

.project-heading {
  margin: 2% 0 0 0;
}

.project-holder {
  margin: 5% 15%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin: 2% 3.5%;
}

@media only screen and (max-width: 600px) {
  .project-container {
    margin: 5% 0%;
  }
  .about-info {
    text-align: center;
  }
  .landing-holder {
    padding: 2rem 0;
  }
  .project-heading {
    margin: 10% 0 0 0;
  }
}

.text-center {
  text-align: center;
}

.about-info {
  padding: 2% 0 0 0;
}

.aboutme-main {
  margin: 3rem 0;
}

.container-about {
  margin: 5% 15%;
}

.contact-holder {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.contact-field {
  display: flex;
  flex-direction: column;
}

.contact-section {
  margin-top: 2rem;
}

.drawerIcons {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
}

@media only screen and (max-width: 990px) {
  .landing-container {
    text-align: center;
    padding: 30rem 0 5rem 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-holder {
    display: flex;
    flex-direction: column;
  }
  .contact-field {
    margin-bottom: 1rem;
  }
  .container {
    margin: 5% 10%;
  }
}

@media only screen and (max-width: 640px) {
  .landing-container {
    text-align: center;
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    margin: 0;
  }
  .container-about {
    margin: 5% 10%;
  }
}

a, a:active, a:visited {
  text-decoration: none;
  color: white;
}

.black-text {
  color: black;
}
